@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  nav {
    height: 123px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav-menu-div {
    display: inline-block;
  }

  .nav-burgermenu {
    display: none;
  }

  img {
    max-width: none;
  }

  .logo-flex {
    gap: 18px;
  }

  .logo-text {
    font-size: 40px;
  }

  .logo {
    width: 70px;
    height: 48px;
  }

  .text-div {
    margin-top: 30px;
    margin-bottom: 82px;
  }

  .button-div {
    margin-top: 64px;
    margin-bottom: 99px;
  }



  

  footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
